.middle-main {

    display:flex; 
    flex-direction: row; 

    padding: 40px 40px 0px 40px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .middle-main {
        flex-direction: column; 
    }
}

.middle-container1 {
    display: flex;
    flex-direction: row;

    margin-right: 40px;
    width: 50%;

    background: #FFFFFF;
    border: 1px solid #B4B3B3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .middle-container1 {
        flex-direction: column;
        width: 100%;
    }
}

.middle-container2 {
    display: flex;
    flex-direction: column;

    width: 50%;
}

@media screen and (max-width: 600px) {
    .middle-container2 {
        width: 100%;
        padding-top: 10px;
    }
    
}


.gov-container1 {
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .gov-container1 {
        width: 100%;
    }
}

.gov-container2 {
    box-sizing: border-box;
    width: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    .gov-container2 {
        width: 100%;
    }
}


.morchana-container {
    background: #FFFFFF;
    border: 1px solid #B4B3B3;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;



}

.morchana-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .morchana-sub-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.morchana-line-align {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding-right: 20px;

}
.morchana-line-text {
    width: 100px;
    text-align: center;

    font-family: roboto;
    font-size: 16px;
    font-weight: 700;

    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .morchana-line-align {
        justify-content: center;
    }
}



.operator-container {
    background: #FFFFFF;
    border: 1px solid #B4B3B3;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    margin-top: 20px ;
    padding: 10px 0px 20px 0px;
}

@media screen and (max-width: 600px) {
    .operator-container {
        margin-top: 10px ;
    }
}

.operator-sub-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    .operator-sub-container {
        flex-direction: column;
    }
}


/* Icon */
.kwubkumrok-icon {
    background-size: 60% 90% ;

    width: 100%;
    margin-top: 20px;
}

.menu-icon-size {
    width: 200px;
    height: 50px;
    margin: 10px 0px 10px 0px;

    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}






.dms-icon {
    min-width: 140px;
    margin-top: 30px;
}

.skb-icon {
    min-width: 111px;
    min-height: 90px;
    margin-top: 20px;
}

.morprom-icon {

    width: 100px;
    height: 90px;

    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/morprom.png');
    background-size: 100% ;

    margin: 20px 0px 0px 40px;
}

@media screen and (max-width: 600px) {
    .morprom-icon {
        margin: 20px 0px 0px 0px;
    }
}

.morprom-line-icon {

    width: 100px;
    height: 90px;

    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/linemorprom.png');
    background-size: 100% ;

    margin: 20px 40px 20px 0px;
}

@media screen and (max-width: 600px) {
    .morprom-line-icon {
        margin: 20px 0px 20px 0px;
    }
}

.ie-text, .fb-text {
    display:flex;
    flex-direction: row;
    justify-content:center;

    font-family: roboto;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}


.ais-icon, .true-icon, .dtac-icon {
    min-width: 200px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

